.places__place {
  display: grid;
  grid-template-columns: 460px 1fr;
  grid-template-rows: min-content min-content;
  margin-left: 148px;
  margin-right: 148px;
  max-width: calc(100% - 296px);
  column-gap: 40px;
}

@media screen and (max-width: 1024px) {
  .places__place {
    grid-template-columns: 440px 1fr;
    grid-template-rows: min-content min-content;
    margin-left: 48px;
    margin-right: 48px;
    max-width: calc(100% - 96px);
    column-gap: 32px;
  }
}

@media screen and (max-width: 768px) {
  .places__place {
    grid-template-columns: 340px 1fr;
    grid-template-rows: min-content min-content;
    margin-left: 24px;
    margin-right: 24px;
    max-width: calc(100% - 48px);
    column-gap: 28px;
  }
}

@media screen and (max-width: 620px) {
  .places__place {
    display: flex;
    flex-wrap: wrap;
  }
}

@media screen and (max-width: 320px) {
  .places__place {
    margin-left: 0;
    margin-right: 0;
  }
}
