.intro__line {
  padding: 0;
  margin: 0;
  padding-left: 0;
  list-style: none;
  color: #ffffff;
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 18px;
}
